<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBanking - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            width: 100%;
            height: 100%;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            width: 100%;
            height: 100vh;
        }


        .left-panel {
            flex: 1;
            background: url('/image/Welcome.jpg');
            background-position: center;
            background-size: cover;
        }


        .right-panel {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-top: 50px;        
            background: #fff;
        }

        .box{
            width: 100%;
            max-width: 400px;
            margin: 50px auto;
        }
        
        .brand {
            text-align: center;
        }

        .brand img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

        .brand h2 {
            color: #0077cc;
            font-size: 35px;
            margin-bottom: 10px;
        }

        .brand h3{
            font-size: 20px;
            color:#555;
        }

        .form-group {
            margin-bottom: 10px;
        }
        
        label {
            display: block;
            margin-bottom: 10px;
            color: #555;
            font-size: 18px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 15px;
        }

        button {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 18px;
            background: #0077cc;
            color: #fff;
            cursor: pointer;
            margin-top: 10px;
            font-size: 18px;
            transition: all 0.3s ease; 
        }
        
        button:hover {
            background: #005fa3;
            transform: translateY(-2px);
            box-shadow: 0 6px 20px rgba(0,0,0,0.3);
        }
        
        .sub {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
        }
      
        .sub a {
            color: #0077cc;
            text-decoration: none;
            font-weight: bold;
        }
      
        .sub a:hover {
            text-decoration: underline;
        }

        #toggle-pwd{
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: #555;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="left-panel"></div>

        <div class="right-panel">
            <div class="box">
                <div class="brand">
                    <img src="/image/IBanking.png" alt="Logo">
                    <h3>Welcome to</h3>
                    <h2>IBANKING</h2>
                </div>
                <form action="" method="POST">
    
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter your usename" required>
                    </div>
    
                    <div class="form-group">
                        <label for="Username">Password</label>
    
                        <div style="position: relative;">
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                            <i class="fa-solid fa-eye" id="toggle-pwd"></i>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert">
                        This is a danger alert—check it out!
                    </div>
    
                    <button type="submit">Login</button>
    
                    <div class="sub">
                        <a href="#">Forgot Password?</a>
                        <a href="#">Don't have an account?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const togglePassword = document.getElementById("toggle-pwd");
        const password = document.getElementById("password");

        togglePassword.addEventListener("click", function() {
            const type = password.getAttribute("type") === "password" ? "text" : "password";

            password.setAttribute("type", type);

            this.classList.toggle("fa-eye");
            this.classList.toggle("fa-eye-slash");
        })
    </script>
</body>
</html>
